.Input{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

.InputEl{
    width: 100%;
    padding: 5px 8px;
    margin-bottom: 10px;
    background-color: white;
    
}


.Invalid{
    border: 1px solid red;
}